<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Plant Leaf Disease Detector</title>
	<link rel="icon" href="../favicon/icon.png" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">
	
</head>

<body>
	<div class="flex-container">
		<section class="bg"></section>
		<div class="container">
			<div class="heading">
				Plant leaf Disease Detector
			</div>
			<div class="text">
				<p><b>
					Share a picture of the Infected plant Leaf and get immediate result
				</b></p>
			</div>
			<div class="inner">
				<form id="analysis-form" action="/analyse" method="POST" enctype = "multipart/form-data">
					<div class="imgbox">
						{% if data_param.resultAvail == True %}
							<img src= {{data_param.img_data}} class="img" id="selected_image">
							<label for="fname" style="text-transform:uppercase;">Image of Infected Plant</label><br>
						{% else %}
							<img src= {{data_param.img_data}} class="img" id="selected_image">
							<span>SELECT IMAGE</span>
						{% endif %}
						
						
						<!-- <div class="add"><span>SELECT IMAGE</span></div> -->
						<input class = "ip" name="fname" onchange="displayFile(this)" type="file" id="fname" accept="image/png, image/jpeg"><br>
					</div>
					<button class = "btn" id = "analyze-button" type="submit">
						<span>Analyze</span>
					</button>
				</form>
				<div id="result"><b>Result</b>: {{data_param.result}}</div>
			</div>
			<!--  -->
		</div>
		<script src="../static/client.js"></script>
	</div>

</body>
  
</html>
